/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

body {
	font-family: montserrat, arial, verdana;
	height: 100%;
	background-color: #fdfdfd;

}


.heavy {
	font-weight: bold;
	padding-right: 7px;
}

.dashboard {
	margin: auto;
	padding: 1px;
	background-color: #F8F8FD;
	max-width: 100%;
	-webkit-box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.1);
	font-weight: light;
}

/************************************Top Menubar************************************/
.top-menubar {
	background-color: #E9E9EF;
	padding: 10px;

}

.date-top-menubar {}

/************************************SIDEBAR************************************/
.sidebar {
	box-sizing: border-box;
	width: 200px;
	background-color: #E9E9EF;
	height: 900px;
	padding: 25px;
	display: inline-block;
	vertical-align: top;
}

.menu {
	list-style-type: none;
	margin: 45px 0;
	padding: 0;
	font-size: 12px;
}

.menu li {
	margin: 7px 0;
}

.menu .active,
.menu a:hover {
	background-color: #ffffff;
	margin-left: -30px;
	padding-left: 30px;
	border-radius: 0 4px 4px 0;
	-webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.05);
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.05);
}

.menu a {
	text-decoration: none;
	font-weight: bold;
	color: #757588;
	display: block;
	padding: 10px 0;
}

.menu i {
	margin-right: 7px;
	vertical-align: top;
	padding-top: 1.5px;
}

.menu .active i,
.menu .active a,
.menu i:hover,
.menu a:hover {
	color: #6C75FF;
}

/*CONTENT*/
.content {
	width: 80%;
	box-sizing: border-box;
	height: 100%;
	padding: 20px 30px;
	display: inline-block;
	vertical-align: top;
}

.user-options {
	text-align: right;
	width: 100%;
	height: 30px;
}

.user-options i {
	vertical-align: top;
	margin-right: 25px;
	font-size: 16px;
	padding-top: 10px;
	color: #8E8E8E;
}

.notification {
	display: inline-block;
	width: 6px;
	height: 6px;
	background-color: #ff3366;
	border-radius: 50%;
	border: 1.5px solid #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	margin-left: -5px;
}

.user-options i:hover {
	opacity: 0.5;
}

.avatar-top {
	height: 30px;
	width: 30px;
	background-color: #fff;
	border-radius: 50%;
	padding: 2px;
	margin-right: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.title-profile h1 {
	line-height: 0px;
	padding: 10px;
}

.columns {
	padding-bottom: 50px;
}



/*-----COLUMNS-----*/
.col1 {
	width: 250px;
	display: inline-block;
}

.col2 {
	vertical-align: top;
	width: 890px;
	display: inline-block;
}

.col1 .box,
.col2 .box {
	background-color: #ffffff;
	border-radius: 4px;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.05);
}

.col1 .box {
	margin: 15px 10px 15px 0;
}

.col2 .box {
	margin: 15px 0 15px 10px;
}

/*-----COLUMN LEFT-----*/
.user {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.user img {
	height: 40px;
	width: 40px;
	background-color: lightblue;
	border-radius: 50%;
	padding: 5px;
	margin-bottom: 12px;
}

.user p {
	line-height: 1.2;
	display: inline-block;
	vertical-align: top;
}

.user-name {
	font-weight: bold;
	font-size: 14px;
}

.text-faded {
	font-size: 11px;
	color: #8E8E8E;
}

.follows {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.followers i,
.followings i {
	color: #ff3366;
}

.followings,
.followers {
	display: flex !important;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	padding: 2px;
	line-height: 5px;
	text-align: center;
	border: 1.5px #F1F1F1 solid;
	border-radius: 2px;
	width: 90px;
	height: 55px;
	display: inline-block;
}

.follows .followings:hover,
.follows .followers:hover {
	border-color: #dbdbdb;
}

.follows .followings {
	margin-right: 6px;
}

.follows .fa-arrow-right {
	color: #55aaee;
	font-size: 14px;
}

.follows .fa-arrow-left {
	color: #eeaa22;
	font-size: 14px;
}

.follownow {
	margin: 10px 0 30px 0;
}

.follownow button {
	text-align: center;
	background-color: #ff3366;
	display: block;
	margin: 32px auto;
	border: none;
	border-radius: 3px;
	padding: 7px 15px;
	font-size: 12px;
	color: #ffffff;
	transition: all 0.3s;
}

.follownow button:hover {
	background-color: #ff88aa;
}

.about {
	margin-top: 30%;
}

.about p {
	line-height: 12px;
	padding-bottom: 8%;
}

.social {
	background-color: #fafafa;
	margin: 20px -20px -20px -20px;
	padding: 10px 0;
	text-align: center;
	border-radius: 0 0 2px 2px;
}

.social i {
	font-size: 11px;
	width: 18px;
	height: 18px;
	line-height: 16px;
	border-radius: 50%;
	margin: 0 2px;
	color: #ffffff;
	padding: 2px;
	transition: 0.3s;
}

.social i:hover {
	opacity: 0.5;
}

.social .fa-facebook-f {
	background-color: #335599;
}

.social .fa-twitter {
	background-color: #55aaee;
}

.social .fa-youtube {
	background-color: red;
}

.social .fa-google-plus-g {
	background-color: #dd6666;
}

.list p {
	padding-bottom: 4%;
	text-align: center;
}

.list .right {
	margin-left: 100px;
}

.list .g {
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	color: #ffffff;
	transition: 0.3s;
}

.list .g:hover {
	opacity: 0.5;
}

.list .g-1 {
	background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.list .g-2 {
	background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.list .g-3 {
	background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
}

.list .g-4 {
	background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.list .g-5 {
	background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}


/*------------------------------------
          RIGHT COLUMN
------------------------------------*/
/*---Leave a comment---*/
textarea {
	box-sizing: border-box;
	width: 100%;
	border: 1.5px #F1F1F1 solid;
	border-radius: 2px;
	padding: 10px;
	font-family: montserrat;
	display: block;
}

.comment-options {
	margin-top: 10px;
}

.comment-options i {
	font-size: 10px;
	color: #8E8E8E;
	margin: 0 4px;
}

.comment-options i:hover {
	opacity: 0.7;
}

.comment-options button {
	text-align: center;
	background-color: #6C75FF;
	display: inline;
	border: none;
	border-radius: 3px;
	padding: 7px 15px;
	font-size: 12px;
	color: #ffffff;
	transition: all 0.3s;
	margin-left: 30px;
}

.comment-options button:hover {
	opacity: 0.7;
}

/*---Individual comments---*/
.comment-wrap {
	width: 100%;
	margin-bottom: 10px;
	box-sizing: border-box;
	white-space: nowrap;
}

.comment-indent {
	margin-left: 47px;
}

.avatar {
	height: 30px;
	width: 30px;
	background-color: lightblue;
	border-radius: 50%;
	padding: 2px;
	margin-right: 10px;
	vertical-align: top;
}

.avatar1 {
	background-color: lightpink;
}

.avatar2 {
	background-color: palegreen;
}

.avatar3 {
	background-color: bisque;
}

.com1 {
	display: inline-block;
	width: 770px;
}

.com2 {
	display: inline-block;
	width: 587px;
}

.commentary {
	transition: all 0.3s;
	box-sizing: border-box;
	padding: 10px 20px;
	border: 1.5px #F1F1F1 solid;
	border-radius: 2px;
}

.commentary:hover {
	border-color: #dbdbdb;
}

.comment-top {
	margin-bottom: 10px;
}

.comment-top .text-faded {
	margin-left: 30px;
}

.com-review {
	float: right;
}

.com-review i {
	color: #8E8E8E;
	margin-right: 15px;
}

.com-review .active {
	color: #ff3366;
}

.com-review i:hover,
.com-review .heavy:hover {
	opacity: 0.5;
}

.comment-content img {
	width: 50px;
	height: 50px;
	border-radius: 2px;
	margin-right: 5px;
	transition: all 0.3s
}

.comment-content img:hover {
	opacity: 0.7;
}

#onlinestatus {
	width: 80%;
	margin-left: 6%;
	background: #757588;
	color: white;
	text-align: center;
	font-weight: 500;
	border-radius: 10px;
	-moz-box-shadow: inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #757588;
	box-shadow: inset 0 10px 19px #757588;
}

#onlinestatus:focus {
	outline: none;
}

/***********************************************Edit Profile Page************************************************/
::placeholder {
	color: #7b7e81;
	opacity: 1;
	/* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #7b7e81;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #7b7e81;
}

textarea:focus,
input:focus,
input[type]:focus {
	box-shadow: 0 0 5px #7b4acb;
}

textarea {
	resize: none;
}



/* Main body */
.container {
	max-width: 800px;
	background-color: #fff;
	padding: 2% 2%;
}

.heading-container {
	max-width: 800px;
	background: #8e8e8e;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	border-left: 8px solid black;
	margin-top: 20px;
}

.form-heading {
	padding-left: 2%;
	font-weight: 600;
	text-align: left;
	margin-bottom: 0px !important;
	padding-top: 2px;
	padding-bottom: 2px;
}

.form__btns {
	text-align: center;
}

.form__btns button {
	min-width: 95px;
	margin: 24px 15px 0;
}

.form-control {
	color: #717171;
	background-color: #f7f7f7;
	border-radius: 0;
}

textarea.form-control {
	height: 39px;
}

.form__comments label:not(:first-child) {
	margin-top: 32px;
}

.text-small {
	font-size: 0.8rem;
}

/************************************************Input Checkbox: On-Off****************************************************/
.btn-onoff {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}

.btn-onoff input {
	display: block;
	position: absolute;
	opacity: 0
}

.btn-onoff span {
	position: relative;
	display: block;
	width: 71px;
	height: 25px;
	border-radius: 40px;
	background: #ccc;
	border: 1px solid #ccc;
	-webkit-transition: 400ms;
	-moz-transition: 400ms;
	-ms-transition: 400ms;
	transition: 400ms
}

.btn-onoff input:checked~span {
	border: 1px solid #4CAF50;
	background: #4CAF50
}

.btn-onoff input~span:before {
	content: 'Off';
	display: block;
	width: 34px;
	height: 34px;
	position: absolute;
	right: 2px;
	font-size: 14px;
	font-family: "Arial";
	font-weight: bold;
	line-height: 26px;
	color: #444;
	padding: 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	-ms-transition: 500ms;
	transition: 500ms
}

.btn-onoff input:checked~span:before {
	content: 'On';
	right: 30px;
	color: #fff
}

.btn-onoff input~span:after {
	content: '';
	position: absolute;
	width: 18px;
	height: 18px;
	top: 3px;
	left: 4px;
	background: #fff;
	border-radius: 50%;
	-webkit-transition: 400ms;
	-moz-transition: 400ms;
	-ms-transition: 400ms;
	transition: 400ms
}

.btn-onoff:hover input~span:after {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9)
}

.btn-onoff input:checked~span:after {
	content: '';
	left: 51px;
}

/*End | On-Off Button Design*/